<p>Estimado cliente,</p>
<p>Por la presente les comunicamos que la empresa <b>{{ sale.company.busisness_name|default:'- No definido -' }}</b> le ha emitido el siguiente comprobante:</p>
<p>
    <b>Tipo de Documento:</b> {{ sale.get_invoice_type_display }}<br>
    <b>Serie y número:</b> {{ sale.series|default:'- No definido -' }}-{{ sale.identifier|default:'- No definido -' }}<br>
    <b>RUC del emisor:</b> {{ sale.company.ruc|default:'- No definido -' }}<br>
    <b>RUC o DNI del cliente:</b> {{ sale.customer.ruc|default:'- No definido -' }}<br>
    <b>Fecha de emisión:</b> {{ sale.sale_date|date:'d/m/Y' }}<br>
    <b>Importe Total:</b> S/. {{ sale.total }}<br>
</p>
<p>
Atentamente,</br>
PeruInvoices
</p>
<p>
Nota: Si usted tuviera alguna dificultad para abrir los archivos adjuntos, puede consultarlos y descargarlos mendiante este link <a href="{{ link_url }}">{{ link_name }}</a> con la información que le presentamos
</p>
